/* LEADERBOARD */

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: white;
}

.high-score:hover {
  transform: scale(1.025);
}

:root {
  /* Blue gradient */
--body-color: linear-gradient(90deg, hsl(204, 28%, 40%) 0%, hsl(158, 28%, 40%) 100%);
}

body{
  background: var(--body-color);
}

